@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --color-White: hsl(0, 0%, 100%);
    --color-lightGray: hsl(212, 45%, 89%);
    --color-grayishBlue: hsl(220, 15%, 55%);
    --color-darkBlue: hsl(218, 44%, 22%);
}
* {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.container {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightGray);
}
.qrBox {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-White);
    padding: 1rem 1rem;
    border-radius: 2rem;
}
.qrBox img {
    width: 100%;
    border-radius: 1rem;

}
.qrBox h2 {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
}
.qrBox p {
    font-size: 1rem;
    text-align: center;
    color: var(--color-grayishBlue);
    padding: 1rem 3rem;
}


 .attribution { font-size: 0.9rem; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }